.counter{
    border: solid 1px #fff;
    padding: 10px;
    width: 100px;
    p {
        color:brown;
        text-align: center;
        font-size: 2.5rem;
    }

    button {
        padding: 5px;
        width: 30px;
    }
}