* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fafafa;
}

.container {
    padding: 30px;

    h1{
        font-size: 10rem;
        padding: 10px;
        padding-left: 0px;
    }

    h2 {
        color: red;
        padding: 10px;
        padding-left: 0px;
    }
    li {

        & + li {
            padding-top: 10px;
        }
        
        list-style: none;
        
        a {
            text-decoration: none;
            color:blueviolet;
        }
    }
}